.search {
    flex: 1;
    width: min(600px, 90vw);
    margin: auto;
  }
  
  .input {
    width: 500px;
    margin: 10px 10%;

    
    & > * {
      text-align: center !important;
      color: #fefdfd;
      padding: 14px;
      font-size: 18px !important;
    }
    color: #ffffff !important;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    margin: 10px 0;
    max-height: calc(100vh - 330px);
    overflow: auto;
    padding: 15px;
    border: 1px solid #1976d2;
    border-radius: 20px;
  }